@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: rubik, sans-serif;
}

.header {
  width: 1400px;
  margin: 0 auto;
  padding: 20px 0;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 4px 4px 4px 4px rgba(209, 178, 178, 0.2);
  justify-content: space-between;

  .btn {
    display: flex;
    height: 60px;
    padding: 8px;
    gap: 8px;
    margin-right: -80px;

    img {
      width: 24px;
      height: 24px;
      margin-right: 40px;
    }

    .hed__btn {
      border: none;
      width: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }
  }

  .btn:hover {
    display: flex;
    height: 60px;
    padding: 8px;
    gap: 8px;
    margin-right: -80px;
    border-radius: 10px;

    img {
      width: 24px;
      height: 24px;
      margin-right: 40px;
    }

    .hed__btn {
      cursor: pointer;
      background-color: #70c05b;
      width: 140px;
      display: flex;
      color: white;
      align-items: center;
      justify-content: center;
    }
  }

  .search-container {
    position: relative;
    width: 370px;

  }

  .search-input {
    border: 1px solid#5cc741;
    border-radius: 5px;
    width: 100%;
    padding: 10px 40px 10px 10px;
    box-sizing: border-box;
  }

  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
  }

  .izob {
    width: 30px;

    img {
      width: 24px;
      height: 24px;
      color: black;
      margin-left: 20px;
    }

    p {
      width: 65px;
      height: 18px;
      gap: 0px;
      opacity: 0px;
      font-family: Rubik, sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
      color: #414141;
    }
  }
}

.avatar {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: Rubin, sans-serif;

  .key {
    width: 20px;
    height: 20px;
  }

  h6 {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 10px;
  }
}

.card__1 {
  img {
    margin-top: 10px;
    margin-left: -20px;
  }
}
.tot__2,
.tot__3{
  margin-top: 250px;
}
.card__2 {
  width: 100%;
  height: 3000px;
  background-color: #f5f2f2;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin-top: 100px;
  }

  .btn {
    margin-top: 100px;
    border: none;
    background-color: #f5f2f2;

    img {
      margin-top: 10px;
      align-items: center;
      width: 10px;
      height: 13px;
    }
  }

}

.blok {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Rubin, sans-serif;
  .row {
    border-radius: 10px;
    
    .black{
      margin-bottom: 130px;
    }
    .flex {
      margin-top: 4px;
      height: 200px;
      background-color: #fff;
      border-radius: 0px 0px 5px 5px;

      .sum{
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content:space-between ;  
        .pow__1{
          margin-left: 5px;
          font-family: Rubin,sans-serif;
        }
        .pow__2{
          margin-right: 5px;
        }
        .pow{
          h4{
              font-family: Rubik,sans-serif;
              font-size: 18px;
              font-weight: 800;
              line-height: 27px;
              text-align: left;
          }
          p{
            font-family: Rubik,sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            color: #BFBFBF;
          }
        }
      }
      .sum__2{
        p{
          margin-top: 10px;
          margin-left: 5px;
          color: #222020;
        }
      } 
      .btn{
        color: #70c05b;
        margin-top: 5px;
        margin-left: 7px;
        width: 256px;
          height:40px;
          padding: 8px 0px 0px 0px;
          gap: 8px;
          align-items: center;
          border-radius: 4px;
          border: 1px solid ;
          opacity: 0px;
      }
            .btn:hover {
              color: #ffffff;
              margin-top: 5px;
              margin-left: 7px;
              width: 256px;
              height: 40px;
              padding: 8px 0px 0px 0px;
              gap: 8px;
              align-items: center;
              border-radius: 4px;
              border: 1px solid;
              opacity: 0px;
              background-color: #FF6633;
            }
    }

    padding-top: 0px;
    width: 272px;
    height: 100px;
    border-radius: 4px;
    background-color: white;
  }
}
.star-rating {
  margin-top: 0px;
  margin-left: 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;

    .star {
        font-size: 2rem;
        color: gray; 
        cursor: pointer;
        transition: color 0.3s;

        &:hover,
        &:hover~.star {
            color: yellow;
        }
    }
}

.img {
  width: 272px;
  height: 160px;
  padding-bottom: 100px;
  background: url(../assets/images/img/image.png);

  .chegirma {
    margin-left: 10px;
    margin-top: 90px;
  }

  .heart {
    display: flex;
    justify-content: space-between;

    button {

      margin-top: 2px;
      margin-right: 2px;
      gap: 5px;
      border: none;
      background: #F3F2F1;

      img {
        width: 24px;
        height: 24px;

      }

      img:hover {
        width: 24px;
        height: 24px;
        background-color: rgb(233, 218, 218);
      }
    }
  }
}
.img__2 {
  width: 272px;
  height: 160px;
  padding-bottom: 100px;
  background: url(../assets/images/img/image\ \(2\).jpg);

  .chegirma {
    margin-left: 10px;
    margin-top: 90px;
  }

  .heart {
    display: flex;
    justify-content: space-between;

    button {

      margin-top: 2px;
      margin-right: 2px;
      gap: 5px;
      border: none;
      background: #F3F2F1;

      img {
        width: 24px;
        height: 24px;

      }

      img:hover {
        width: 24px;
        height: 24px;
        background-color: rgb(233, 218, 218);
      }
    }
  }
}
.img__3 {
  width: 272px;
  height: 160px;
  padding-bottom: 100px;
  background: url(../assets/images/img/image\ \(3\).jpg);

  .chegirma {
    margin-left: 10px;
    margin-top: 90px;
  }

  .heart {
    display: flex;
    justify-content: space-between;

    button {

      margin-top: 2px;
      margin-right: 2px;
      gap: 5px;
      border: none;
      background: #F3F2F1;

      img {
        width: 24px;
        height: 24px;

      }

      img:hover {
        width: 24px;
        height: 24px;
        background-color: rgb(233, 218, 218);
      }
    }
  }
}
.img__4 {
  width: 272px;
  height: 160px;
  padding-bottom: 100px;
  background: url(../assets/images/img/image.jpg);

  .chegirma {
    margin-left: 10px;
    margin-top: 90px;
  }

  .heart {
    display: flex;
    justify-content: space-between;

    button {

      margin-top: 2px;
      margin-right: 2px;
      gap: 5px;
      border: none;
      background: #F3F2F1;

      img {
        width: 24px;
        height: 24px;

      }

      img:hover {
        width: 24px;
        height: 24px;
        background-color: rgb(233, 218, 218);
      }
    }
  }
}
.img__5 {
  width: 272px;
  height: 160px;
  padding-bottom: 100px;
  background: url(../assets/images/img/image\ \(1\).jpg);

  .chegirma {
    margin-left: 10px;
    margin-top: 90px;
  }

  .heart {
    display: flex;
    justify-content: space-between;

    button {

      margin-top: 2px;
      margin-right: 2px;
      gap: 5px;
      border: none;
      background: #F3F2F1;

      img {
        width: 24px;
        height: 24px;

      }

      img:hover {
        width: 24px;
        height: 24px;
        background-color: rgb(233, 218, 218);
      }
    }
  }
}
.img__6 {
  width: 272px;
  height: 160px;
  padding-bottom: 100px;
  background: url(../assets/images/img/image\ \(3\).jpg);

  .chegirma {
    margin-left: 10px;
    margin-top: 90px;
  }

  .heart {
    display: flex;
    justify-content: space-between;

    button {

      margin-top: 2px;
      margin-right: 2px;
      gap: 5px;
      border: none;
      background: #F3F2F1;

      img {
        width: 24px;
        height: 24px;

      }

      img:hover {
        width: 24px;
        height: 24px;
        background-color: rgb(233, 218, 218);
      }
    }
  }
}
.img__7 {
  width: 272px;
  height: 160px;
  padding-bottom: 100px;
  background: url(../assets/images/img/image.jpg);

  .chegirma {
    margin-left: 10px;
    margin-top: 90px;
  }

  .heart {
    display: flex;
    justify-content: space-between;

    button {

      margin-top: 2px;
      margin-right: 2px;
      gap: 5px;
      border: none;
      background: #F3F2F1;

      img {
        width: 24px;
        height: 24px;

      }

      img:hover {
        width: 24px;
        height: 24px;
        background-color: rgb(233, 218, 218);
      }
    }
  }
}
.img__8 {
  width: 272px;
  height: 160px;
  padding-bottom: 100px;
background: url(../assets/images/img/image\ \(2\).jpg);
  .chegirma {
    margin-left: 10px;
    margin-top: 90px;
  }

  .heart {
    display: flex;
    justify-content: space-between;

    button {

      margin-top: 2px;
      margin-right: 2px;
      gap: 5px;
      border: none;
      background: #F3F2F1;

      img {
        width: 24px;
        height: 24px;

      }

      img:hover {
        width: 24px;
        height: 24px;
        background-color: rgb(233, 218, 218);
      }
    }
  }
}
.img__9 {
  width: 272px;
  height: 160px;
  padding-bottom: 100px;
  background: url(../assets/images/img/image\ \(6\).jpg);

  .chegirma {
    margin-left: 10px;
    margin-top: 90px;
  }

  .heart {
    display: flex;
    justify-content: space-between;

    button {

      margin-top: 2px;
      margin-right: 2px;
      gap: 5px;
      border: none;
      background: #F3F2F1;

      img {
        width: 24px;
        height: 24px;

      }

      img:hover {
        width: 24px;
        height: 24px;
        background-color: rgb(233, 218, 218);
      }
    }
  }
}

.card__3{
  margin-top: 350px;
  .blok{
    h4{
      width: 258px;
        height: 72px;
        gap: 0px;
        opacity: 0px;
        margin-top: 30px;
        margin-left: 20px;
          font-family: Rubik,sans-serif;
          font-size: 24px;
          font-weight: 700;
          line-height: 36px;
          text-align: left;
    }
    p{
      margin-left: 20px;
      margin-top: 20px;
    }
    .row{
      display: flex;
      width: 650px;
        height: 200px;
        gap: 10px;
        border-radius: 4px 0px 0px 0px;
        opacity: 0px;
      background: #FCD5BA;
      box-shadow: 0px 8px 16px 0px #CA936080;
      img{
        margin-left: 40px;
      }
    }
        .row__2 {
          display: flex;
          width: 650px;
          height: 200px;
          gap: 10px;
          border-radius: 4px 0px 0px 0px;
          opacity: 0px;
          background: #E5FFDE;
          box-shadow: 0px 8px 16px 0px #CA936080;
          img{
            margin-top: 20px;
            margin-left: 100px;
          }
        }
    
  }
}